<ion-content class="page-content" [fullscreen]="true">
  <ion-title>Écuries Formule 1 <span>2025 bg</span></ion-title>
  <ion-row>
    @for (team of teams; track team.name; let i = $index) {
      <ion-col size="12" sizeSm="6" sizeLg="3">
        <div class="neon-anim" [style.--base]="team.color" (animationend)="onNeonDone(team.name)" [class.hidden]="isNeonDone(team.name)" 
              [style]="'animation-delay'" [style.--delay]=" i * 0.2 + 's'" [attr.data-team]="team.name"></div>
        <ion-card class="team-card" (click)="selectTeam(team)" [style.--base]="team.color" [class.visible]="isNeonDone(team.name)"
                  [style.--light]="lightenDarkenColor(team.color, 40)" [style.--dark]="lightenDarkenColor(team.color, -40)">
          <ion-card-header>
            <ion-card-title class="exo-2-500">{{ team.name }}</ion-card-title>
          </ion-card-header>
          <img class="logo" [src]="'/assets/teams/' + getText(team.name) + '/bg-logo.png'" [alt]="team.name + ' logo'"> 
          <img class="car" [src]="'/assets/teams/' + getText(team.name) + '/car.avif'" [alt]="team.name + ' car'">
        </ion-card>
      </ion-col>
    }
  </ion-row>
</ion-content>
