@use 'src/style/keyframes' as keyframes;

ion-row{
    margin: 0 auto;
    justify-content: center;

}

ion-col{
  position: relative;
}

ion-card {
  position: relative;
  overflow: hidden;
  height: 200px;
  border-radius: 16px;
  cursor: pointer;
  opacity: 0;
  --background: url("https://www.transparenttextures.com/patterns/lined-paper-2.png"), linear-gradient(-1deg, var(--base) 0%, var(--light) 30%, var(--dark) 92%);
  transition: all .4s ease;
  & ion-card-header{
    padding: 20px;
  }
  & ion-card-title{
    font-weight: 900;
    color: var(--ion-color-white);
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  }
  &:hover{
    box-shadow: 0px 0px 20px 3px var(--light);
    transform: scale(1.02);
  }
}

// url("https://www.transparenttextures.com/patterns/lined-paper-2.png")
// url("https://www.transparenttextures.com/patterns/brick-wall-dark.png")
// url("https://www.transparenttextures.com/patterns/notebook-dark.png") // TODO

.car{
  position: absolute;
  left: 16px;
  bottom: 30px;
  width: 80%;
}

.logo{
    position: absolute;
    top: 25px;
    right: 16px;
    width: 35%;
    max-width: 90px;
    opacity: .5;
    z-index: -1;
}


.neon-anim {
	position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  border-radius: 20px;
  overflow: hidden;
  z-index: 0;
  margin: 10px;
}

.neon-anim.start{
  &::before {
		content: '';
		position: absolute;
		z-index: -2;
		left: -50%;
		top: -50%;
		width: 175%;
		height: 175%;
		background-color: var(--ion-color-background);
		background-repeat: no-repeat;
		background-position: 0 0;
		background-image: conic-gradient(transparent, var(--base), transparent 30%);
		animation: rotate 2s linear;
    animation-delay: var(--delay);
	}
	
	&::after {
		content: '';
		position: absolute;
		z-index: -1;
		left: 2px;
		top: 2px;
		width: calc(100% - 4px);
		height: calc(100% - 4px);
		background: var(--ion-color-background);
		border-radius: 20px;
	}
}