ion-row{
    // width: 70%;
    margin: 0 auto;
    justify-content: center;

}

ion-card {
  position: relative;
  overflow: hidden;
  height: 200px;
  border-radius: 16px;
  cursor: pointer;
  --background: url("https://www.transparenttextures.com/patterns/lined-paper-2.png"), linear-gradient(-1deg, var(--base) 0%, var(--light) 30%, var(--dark) 92%);
//   background-blend-mode: color-burn;
  transition: all .4s ease;
  & ion-card-header{
    padding: 20px;
  }
  & ion-card-title{
    font-weight: 900;
    color: var(--ion-color-white);
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  }
  &:hover{
    box-shadow: 0px 0px 20px 3px var(--light);
    transform: scale(1.02);
  }
}

// url("https://www.transparenttextures.com/patterns/lined-paper-2.png")
// url("https://www.transparenttextures.com/patterns/brick-wall-dark.png")
// url("https://www.transparenttextures.com/patterns/notebook-dark.png") // TODO

.car{
  position: absolute;
  left: 16px;
  bottom: 30px;
  width: 80%;
}

.logo{
    position: absolute;
    top: 25px;
    right: 16px;
    // height: 70%;
    width: 35%;
    max-width: 90px;
    opacity: .5;
    z-index: -1;
}

// img {
// 	box-sizing: border-box;
// 	border: solid var(1) #0000;
// 	width: 100%;
// 	aspect-ratio: 1;
// 	object-fit: cover;
// 	border-radius: calc(2*var(4));
// 	background: 
// 		repeating-conic-gradient(from var(1, 0deg), 
// 				var(2, #0000 0% 70%, #0000ff7f)) border-box;
// 	filter: var(2, url(#glow-0));
// 	animation: a 2s linear infinite
// }

// @keyframes a { to { 100%: 1turn } }