// section{
    // background: center / contain no-repeat
    //             url("/assets/animation-f1.mp4");
// }

video{
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
}