ion-row{
    // width: 70%;
    margin: 0 auto;
    justify-content: center;

}

ion-col{
    overflow: hidden;
}

.picture{
    position: absolute;
    top: 0;
    right: -5px;
    height: 220%;
}

.number{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 70%;
    opacity: .7;
    z-index: 0;
}

ion-card {
  position: relative;
  overflow: hidden;
  height: 200px;
  border-radius: 16px;
  cursor: pointer;
  --background: url("https://www.transparenttextures.com/patterns/brushed-alum-dark.png"), linear-gradient(135deg, var(--base) 0%, var(--light) 55%, var(--dark) 100%);
  background-blend-mode: color-burn;
  transition: all .4s ease;
  & strong{
    font-weight: 900;
    color: var(--ion-color-white);
  }
  &:hover{
    box-shadow: 0px 10px 13px -7px var(--light);
  }
}

// ! test
//url("https://www.transparenttextures.com/patterns/dark-wood.png");
//url("https://www.transparenttextures.com/patterns/brushed-alum.png")
//url("https://www.transparenttextures.com/patterns/brushed-alum-dark.png"); //!not bad

.test{
    width: 100%;
    position: relative;
    overflow: hidden;
    height: 200px;
    border-radius: 16px;
    background: linear-gradient(135deg, #00482c 0%, #006a3a 55%, #012b1a 100%);
}

.test::before {
  content: "";
  position: absolute;
  inset: -30%;
  background-image:
    repeating-linear-gradient(
      130deg,
      rgba(255, 255, 255, 0.35) 0px,
      rgba(255, 255, 255, 0.35) 1px,
      rgba(255, 255, 255, 0.15) 2px,
      transparent 8px
    );
  transform: rotate(-10deg) scale(2);
  mix-blend-mode: screen;
  filter: blur(2px) brightness(1.4);
  opacity: 0.8;
  animation: streaksMove 3s linear infinite;
}

.test::after {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(
      circle at 70% 20%,
      rgba(255, 255, 255, 0.15),
      transparent 70%
    ),
    linear-gradient(
      160deg,
      rgba(255, 255, 255, 0.05),
      rgba(0, 0, 0, 0.3)
    );
  mix-blend-mode: overlay;
}

@keyframes speedlines {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 200% 100%;
  }
}



/* Animation du motif */
@keyframes streaksMove {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 200% 100%;
  }
}