ion-row{
    // background-image: url("https://www.transparenttextures.com/patterns/brushed-alum-dark.png");
    background-image: url("https://www.transparenttextures.com/patterns/real-carbon-fibre.png");
    background-color: var(--base);
    overflow: hidden;
    & ion-col {
        height: 100%;
    }
}

ion-card{
    --background: rgba(var(--ion-color-dark-rgb), .5);
}

hr{
    background: var(--ion-color-white);
}

.driver-title{
    font-size: 35px;
    & .name{
        font-size: 50px;
    }
    & .surname{
        font-weight: 700;
        text-transform: uppercase;
    }
    img{
        width: 150px;
        margin-top: 30px;
    }
}

.col-img{
    img{
        height: 108%;
        filter: drop-shadow(0 0 0.75rem var(--dark));
    }
}





.box-lines{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 30%;
    display: flex;
    &:last-child{
        margin-left: 5px;
    }
}

.lines{
    width: 20px;
    height: 100%;
    background-color: white;
    &.marg{
        margin-left: 10px;
    }
}