<ion-content class="page-content" [fullscreen]="true">
  @if (current) {
    <ion-row class="h-100" [style.--base]="current.team.color" [style.--light]="lightenDarkenColor(current.team.color, 40)" [style.--dark]="lightenDarkenColor(current.team.color, -40)">
      <ion-col size="4" class="flex-center col-img">
        <div class="col-img__driver">
          <img [src]="'/assets/drivers/' + getLower(current.driver.lastname) + '/picture.avif'" alt="">
        </div>
        <img class="col-img__number" [src]="'/assets/drivers/' + getLower(current.driver.lastname) + '/number.avif'" alt="">
      </ion-col>
      <ion-col size="4" class="flex-column-center">

        <!-- <div class="box-lines" style="top: 0;">
          <div class="lines"></div>
          <div class="lines marg"></div>
        </div>
        <div class="box-lines" style="bottom: 0;">
          <div class="lines"></div>
          <div class="lines marg"></div>
        </div> -->

        <div class="driver-title">
          <p class="name windsong-regular">{{ current.driver.name }}</p>
          <p class="surname exo-2-500">{{ current.driver.lastname }}</p>
        </div>
      </ion-col>
      <ion-col size="4">
        <ion-card class="h-100 w-100">
          <ion-card-content>
            <p>test</p> <br>
            <hr class="w-100"> <br>
            <p>test</p> <br>
            <hr class="w-100"> <br>
            <p>test</p> <br>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  }
</ion-content>