ion-row{
    // background-image: url("https://www.transparenttextures.com/patterns/brushed-alum-dark.png");
    // background-image: url("https://www.transparenttextures.com/patterns/real-carbon-fibre.png");
    overflow: hidden;
    z-index: 1;
    & ion-col {
        height: 100%;
        padding: 20px;
    }
}

.bgContainer{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    pointer-events: none;
}

.background {
  position: relative;
  overflow: hidden;
}

ion-card{
    --background: rgba(var(--ion-color-dark-rgb), .5);
}

hr{
    background: var(--ion-color-white);
}

.driver-title{
    font-size: 35px;
    padding-left: 5px;
    border-left: 1px solid var(--light);
    & .name{
        font-size: 50px;
    }
    & .surname{
        font-weight: 700;
        font-size: 35px;
        text-transform: uppercase;
    }
    img{
        width: 150px;
        margin-top: 30px;
    }
}

.col-img{
    position: relative;
    & img{
        height: 130%;
        transform: translateX(10);
        margin-top: 90px;
        object-fit: cover;
        opacity: 1;
        filter: drop-shadow(0 0 0.75rem rgba(var(--light), 0.5));
        transition: all .5s ease;
        @starting-style{
            transform: translateX(45px);
            opacity: 0;
        }
        }
}

.driver-bio{
    font-size: 16px;
    color: var(--ion-color-white-shade);
    & .bio{
        font-family: "Exo 2", sans-serif;
    }
}

.number{
    // max-height: 30%;
    width: 100px;
    z-index: 0;
    margin: 0 auto;
    opacity: 0.6;
}


ion-item-group{
    margin-top: 25px;
    background: rgba(var(--ion-color-background-rgb), 0.5);
    border-radius: 10px;

}
ion-item-divider{
     --background: transparent;
}

ion-item{
     --background: transparent;
}