ion-row{
    // background-image: url("https://www.transparenttextures.com/patterns/brushed-alum-dark.png");
    background-image: url("https://www.transparenttextures.com/patterns/real-carbon-fibre.png");
    // background-color: rgb(28, 28, 28); // rgb(43, 43, 43)
    background:
    radial-gradient(
      circle at top,
      #2a2f35 0%,
      #0b0f14 60%
    ),
    linear-gradient(
      180deg,
      #111 0%,
      #000 100%
    );
    overflow: hidden;
    & ion-col {
        height: 100%;
        padding: 20px;
    }
}

.background {
  position: relative;
  overflow: hidden;
}

ion-card{
    --background: rgba(var(--ion-color-dark-rgb), .5);
}

hr{
    background: var(--ion-color-white);
}

.driver-title{
    font-size: 35px;
    & .name{
        font-size: 50px;
    }
    & .surname{
        font-weight: 700;
        font-size: 35px;
        text-transform: uppercase;
    }
    img{
        width: 150px;
        margin-top: 30px;
    }
}

.col-img{
    position: relative;
    &__driver{
        position: relative;
        width: 100%;
        height: 60%;
        overflow: hidden;
        z-index: 1;
        & img{
            position: absolute;
            top: 0;
            left: 50%;
            height: 200%;
            transform: scaleX(-1) translateX(50%);
            filter: drop-shadow(0 0 0.75rem var(--light));
        }
    }
    &__number{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 90%;
        z-index: 0;
        opacity: 0.6;

    }
}

ion-item{
     --background: transparent;
}



.box-lines{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 30%;
    display: flex;
    &:last-child{
        margin-left: 5px;
    }
}

.lines{
    width: 20px;
    height: 100%;
    background-color: white;
    &.marg{
        margin-left: 10px;
    }
}