<ion-content class="page-content" [fullscreen]="true">
  <ion-title class="page-title audiowide-regular">Pilotes Formules 1 <span class="windsong-regular">2025</span></ion-title>
  <ion-row>
      @for (team of teams; track team.name) {
        @for (driver of team.drivers; track driver.name) {
          <ion-col size="12" sizeSm="6" sizeMd="4" sizeLg="3">
            <app-driver-card [team]="team" [driver]="driver" (select)="selectDriver()"></app-driver-card>
          </ion-col>
        }
      }
  </ion-row>
</ion-content>
