ion-card {
  position: relative;
  overflow: hidden;
  height: 200px;
  border-radius: 16px;
  opacity: 0;
  cursor: pointer;
  --background: url("https://www.transparenttextures.com/patterns/brushed-alum-dark.png"), linear-gradient(135deg, var(--base) 0%, var(--light) 55%, var(--dark) 100%);
  background-blend-mode: color-burn;
  transition: all .4s ease;
  & ion-card-title{
    // text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6), 0 0 6px rgba(255, 255, 255, 0.2);
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    color: var(--ion-color-white);
  }
  & strong{
    font-weight: 900;
    color: var(--ion-color-white);
  }
  &:hover{
    box-shadow: 0px 0px 20px 3px var(--light);
    transform: scale(1.02);
  }
}

ion-card.boxmode{
  height: 100px;
  display: flex;
  align-items: center;
}

ion-card.boxmode{
  height: 100px;
  display: flex;
  align-items: center;
}

// .neon-anim.boxmode{
//   height: 100px;
// }

// ! test
//url("https://www.transparenttextures.com/patterns/dark-wood.png");
//url("https://www.transparenttextures.com/patterns/brushed-alum.png")
//url("https://www.transparenttextures.com/patterns/brushed-alum-dark.png"); //!not bad

.logo{
  position: absolute;
  top: 15px;
  right: 10px;
  width: 25px;
  opacity: .7;
}

.picture{
    position: absolute;
    top: 0;
    right: -5px;
}

.img-number{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 70%;
    opacity: .7;
    z-index: -1;
}

.countryBox{
  position: absolute;
  width: 30px;
  height: 20px;
  left: 16px;
  bottom: 15px;
  border-radius: 5px;
  overflow: hidden;
  & img{
    object-fit: cover;
  }
}

.neon-anim {
	position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  border-radius: 20px;
  overflow: hidden;
  z-index: 0;
  margin: 10px;
  &::before {
		content: '';
		position: absolute;
		z-index: -2;
		left: -50%;
		top: -50%;
		width: 175%;
		height: 175%;
		background-color: var(--ion-color-background);
		background-repeat: no-repeat;
		background-position: 0 0;
		background-image: conic-gradient(transparent, var(--base), transparent 30%);
		animation: rotate 2s linear infinite;
	}
	
	&::after {
		content: '';
		position: absolute;
		z-index: -1;
		left: 2px;
		top: 2px;
		width: calc(100% - 4px);
		height: calc(100% - 4px);
		background: var(--ion-color-background);
		border-radius: 20px;
	}
}

.neon-anim.start{
  &::before {
		animation: rotate 2s linear;
    // animation-delay: var(--delay);
	}
}