@if (!boxMode) {
  <div class="neon-anim" [style.--base]="team.color" (animationend)="onNeonDone(driver.name)" [class.hidden]="isNeonDone(driver.name)" 
              [style]="'animation-delay'" [attr.data-driver]="driver.name" [class.boxmode]="boxMode"></div>
}
<ion-card (click)="selectDriver(driver)" [class.visible]="isNeonDone(driver.name) || boxMode" [class.boxmode]="boxMode"
          [style.--base]="team.color" [style.--light]="lightenDarkenColor(team.color, 40)" [style.--dark]="lightenDarkenColor(team.color, -40)">
  <ion-card-header>
    <ion-card-title>
      {{ driver.name }} <br>
      <strong>{{ driver.lastname }}</strong>
    </ion-card-title>
  </ion-card-header>
  <img class="img-number" [src]="'/assets/drivers/' + getText(driver.lastname) + '/number.avif'" [alt]="driver.name + ' number'">
  <img class="picture" [src]="'/assets/drivers/' + getText(driver.lastname) + '/picture.avif'" [alt]="driver.name + 'picture'" [style.height]="boxMode ? '430%' : '220%'">
  @if (!boxMode) {
    <img class="logo" [src]="'/assets/teams/' + getText(team.name) + '/logo.avif'" [alt]="team.name + ' logo'">
    <div class="countryBox">
      <img class="w-100 h-100" [src]="'/assets/flags/' +  driver.nationality.image + '.png'" [alt]="driver.nationality.name">
    </div>
  }
</ion-card>