<ion-content class="page-content" [fullscreen]="true">

  <section class="wall ion-padding" [style.--base]="team.team.color" [style.--light]="lightenDarkenColor(team.team.color, 40)" [style.--dark]="lightenDarkenColor(team.team.color, -40)">

    <app-back-button></app-back-button>

    <div class="title">
      <img [src]="'/assets/teams/' + getText(team.team.name) + '/logo.avif'" [alt]="team.team.name + ' logo' ">
      <ion-title> {{ team.team.name | uppercase}}</ion-title>
      <h2>FORMULA ONE TEAM - 2026</h2>
    </div>
    <ion-row>
      @for(driver of team.drivers; track driver.name){
        <ion-col size="12" sizeSm="6">
          <app-driver-card [driver]="driver" [boxMode]="true" (select)="selectDriver($event)"></app-driver-card>
        </ion-col>
      }
    </ion-row>
    <img class="team-car" [style]="`max-width: ${platform.is('mobile') ? '100%' : '600px'}`" [src]="'/assets/teams/' + getText(team.team.name) + '/car.avif'" [alt]="team.team.name + ' car'">
  </section>
</ion-content>