ion-content{
  --overflow: hidden;
}

.title{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  ion-title{
      font-family: "Exo 2", sans-serif;
      font-size: 55px;
      font-weight: 900;
  }
  & h2{
    color: var(--base);
    font-family: "Exo 2", sans-serif;
  }
}

.wall{
    position: relative;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background: url("https://www.transparenttextures.com/patterns/brick-wall-dark.png"), var(--ion-color-tertiary);
    padding-bottom: 0;
    // background: black;
    // background: url("https://www.transparenttextures.com/patterns/brick-wall-dark.png"), linear-gradient(to bottom, rgba(206,219,233,1) 0%,rgba(170,197,222,1) 17%,rgba(97,153,199,1) 50%,rgba(58,132,195,1) 51%,rgba(65,154,214,1) 59%,rgba(75,184,240,1) 71%,rgba(58,139,194,1) 84%,rgba(38,85,139,1) 100%)
}

.wall::before {
  content: '';
  position: absolute;
  width: 500px;
  height: 500px;
  left: -200px; 
  top: 10%;
  background: radial-gradient(circle, color-mix(in srgb, var(--base), transparent 70%) 0%, rgba(255, 128, 0, 0) 70%);
  filter: blur(50px);
  pointer-events: none;
  z-index: 1;
}

.wall::after {
  content: '';
  position: absolute;
  width: 500px;
  height: 500px;
  right: -200px;
  top: 10%;
  background: radial-gradient(circle, color-mix(in srgb, var(--base), transparent 70%) 0%, rgba(255, 128, 0, 0) 70%);
  filter: blur(50px);
  pointer-events: none;
  z-index: 1;
}


ion-row{
  display: flex;
  justify-content: center;
  width: 100%;
  & ion-col{
    max-width: 400px !important;
  }
}